<!--I 'common.blueprint_authenticated'/-->
<!--BV 'window_title'-->UWYN Drone Administration - Home<!--/BV-->
<!--BV 'page_title'-->Welcome to the Drone administration interface<!--/BV-->

<!--I 'admin.menu'/-->
<!--BV 'class_home'-->menu_item_active<!--/BV-->
<!--BV 'menu_items'-->
	<!--V 'menu'/-->
<!--/BV-->

<!--BV 'authenticated_content'-->
	<table summary="configured drones" width="100%" class="list_table">
	<colgroup>
		<col width="*"/>
		<col width="*"/>
		<col width="*"/>
		<col width="100%" />
	</colgroup>
	<tr>
		<th nowrap="1">name</th>
		<th nowrap="1">active nick</th>
		<th nowrap="1">nicks</th>
		<th nowrap="1">actions</th>
	</tr>
	<!--V 'bots'/-->
	<!--B 'bot'-->
	<tr>
		<td nowrap="1"><!--V 'botname'-->botname<!--/V--></td>
		<td nowrap="1"><!--V 'connected_nick'-->connected_nick<!--/V--></td>
		<td nowrap="1"><!--V 'nicks'-->nick1, nick2<!--/V--></td>
		<td >
			<table summary="drone actions" class="actions_table">
			<tr>
			<!--V 'actions'/-->
			<!--B 'action_pause'--><td><form action="[!V 'SUBMISSION:FORM:pause'/]" method="POST"><!--V 'SUBMISSION:PARAMS:pause'/--><input type="submit" value="pause" /></form></td><!--/B-->
			<!--B 'action_resume'--><td><form action="[!V 'SUBMISSION:FORM:resume'/]" method="POST"><!--V 'SUBMISSION:PARAMS:resume'/--><input type="submit" value="resume" /></form></td><!--/B-->
			<!--B 'action_reconnect'--><td><form action="[!V 'SUBMISSION:FORM:reconnect'/]" method="POST"><!--V 'SUBMISSION:PARAMS:reconnect'/--><input type="submit" value="reconnect" /></form></td><!--/B-->
			<!--B 'action_changenick'--><td><form action="[!V 'EXIT:FORM:change_nick'/]" method="GET"><!--V 'EXIT:PARAMS:change_nick'/--><input type="submit" value="change nick" /></form></td><!--/B-->
			</tr>
			</table>
		</td>
	</tr>
	<!--/B-->
	</table>
<!--/BV-->
