<!--
  -  Copyright 2002-2004 Geert Bevin <gbevin[remove] at uwyn dot com>
  -  Distributed under the terms of the GNU Lesser General Public
  -  License, v2.1 or later
  -  $Id$
  -->
<html>

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
	<base href="[!V 'WEBAPP:ROOTURL'/]" />
	<title><!--V 'window_title'/--></title>
	<link rel="stylesheet" type="text/css" href="style/pub.css" />
</head>

<body>
	<!--I 'common.error_area'/-->
	
	<!--V 'content'/-->
			
	<table width="100%" cellpadding="5" cellspacing="0" border="0">
	<tr>
		<td><b>Drone</b> v<!--V 'ELEMENT:.DRONE_VERSION'/--> &copy; 2002-2004 <a href="http://www.uwyn.com">UWYN</a></td>
		<td align="right"><a href="http://rife.dev.java.net"><img src="/images/rife_powered.png " width="70" height="38" alt="RIFE powered" border="0" /></a></td>
	</tr>
	</table>
</body>
</html>
