<!--
  -  Copyright 2002-2004 Geert Bevin <gbevin[remove] at uwyn dot com>
  -  Distributed under the terms of the GNU Lesser General Public
  -  License, v2.1 or later
  -  $Id$
  -->
<html>

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
	<base href="[!V 'WEBAPP:ROOTURL'/]" />
	<title><!--V 'window_title'/--></title>
	<link rel="stylesheet" type="text/css" href="style/admin.css" />
</head>

<body>
<a name="TOP"></a><table width="100%" height="100%" class="collapsed_table" cellpadding="0" cellspacing="0">
<tr valign="top">
	<td>
		<table summary="main table" width="100%" class="collapsed_table" cellpadding="0" cellspacing="0">
		<colgroup>
			<col width="*" />
			<col width="100%" />
			<col width="*" />
		</colgroup>
		<tr align="center" valign="top" class="product_title_area">
			<td>&nbsp;&nbsp;</td>
			<td>
				<img src="/images/dot_clear.png" alt="" width="1" height="5" /><br />
				<span class="product_title"><span class="product_title_uwyn">UWYN</span> Drone</span><br />
				<img src="/images/dot_clear.png" alt="" width="1" height="5" /><br />
			</td>
			<td>&nbsp;&nbsp;</td>
		</tr>
		<!--V 'page_title_area'--><!--/V-->
		<!--BV 'page_title_area'-->
		<tr valign="middle" class="page_title_area">
			<td>&nbsp;&nbsp;</td>
			<td>
				<img src="/images/dot_clear.png" alt="" width="1" height="5" /><br />
				<span class="page_title"><!--V 'page_title'-->the page title<!--/V--></span><br />
				<img src="/images/dot_clear.png" alt="" width="1" height="5" /><br />
				</font>
			</td>
			<td nowrap="1"><p align="right"><!--V 'logout'/-->&nbsp;<!--BV 'logout'--><a href="[!V 'EXIT:QUERY:logout'/]" class="logout">log out</a><!--/BV--></p></td>
		</tr>
		<!--/BV-->
		<!--V 'menu_area'--><!--/V-->
		<!--BV 'menu_area'-->
		<tr valign="middle" class="menu_area">
			<td colspan="3"><!--V 'menu_items'-->the menu<!--/V--><!--B 'menu_item'--><nobr><span class="menu_item"><a href="[!V 'menu_item_url'/]"><!--V 'menu_item_text'/--></a></span></nobr><!--/B--></td>
		</tr>
		<!--/BV-->
		<!--BV 'menu_seperator'-->
			</td>
		</tr>
		<tr valign="middle" class="menu_area">
			<td colspan="3">
		<!--/BV-->
		<tr valign="top" class="content">
			<td colspan="3">
				<!--V 'content'/-->
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr valign="bottom">
	<td align="right">
		<table width="100%" cellspacing="5" border="0">
		<tr>
			<td><b>Drone</b> v<!--V 'ELEMENT:.DRONE_VERSION'/--> &copy; 2002-2004 <a href="http://www.uwyn.com">UWYN</a></td>
			<td align="right"><a href="http://rife.dev.java.net"><img src="images/rife_powered.png " width="70" height="38" alt="RIFE powered" border="0" /></a></td>
		</tr>
		</table>
	</td>
</tr>
</table>
</body>
</html>

