<!--I 'common.blueprint_authenticated'/-->

<!--I 'admin.menu'/-->
<!--BV 'menu_items'-->
	<!--V 'menu'/-->
<!--/BV-->

<!--BV 'window_title'-->UWYN Drone Administration - Change nick<!--/BV-->
<!--BV 'page_title'-->Change the nick name of a bot<!--/BV-->
<!--BV 'authenticated_content'-->
	<center>
	
	<form name="change bot nick" action="[!V 'SUBMISSION:FORM:perform_change'/]" method="post">
	<!--V 'SUBMISSION:PARAMS:perform_change'/-->
	<table summary="change bot nick" cellpadding="5" cellspacing="0" border="0">
	<tr>
		<td><label for="new_nick"><b>new nick</b></label></td>
		<td>&nbsp;</td>
		<td[!V 'MARK:nick'][!/V]>
			<!--V 'ERRORS:nick'--><!--/V-->
			<!--V 'FORM:INPUT:new_nick'-->id="new_nick"<!--/V-->
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
		<td><p><input type="submit" value="Change nick" /></p></td>
	</tr>
	</table>
	
	</form>
	<!--B 'ERRORS:nick'--><div class="errors"><!--V 'ERRORS'/--></div><!--/B-->
	<!--B 'ERRORMESSAGE:nick'--><!--V 'ERRORMESSAGE'/--><br /><!--/B-->
	<!--B 'MARK:ERROR'--> class="mark_error"<!--/B-->

	<script>
	document.getElementById('new_nick').focus();
	</script>
	
	</center>
<!--/BV-->
