<!--I 'common.blueprint_admin'/-->
<!--BV 'window_title'-->UWYN Drone - Administration<!--/BV-->
<!--BV 'page_title'-->Please provide a valid login and password<!--/BV-->
<!--BV 'menu_area'--><!--/BV-->
<!--BV 'logout'--><!--/BV-->
<!--BV 'content'-->
	
	<br />
	
	<center>

	<!--I 'common.error_area'/-->
	<form name="credentials" action="[!V 'SUBMISSION:FORM:credentials'/]" method="post">
	<!--V 'SUBMISSION:PARAMS:credentials'/-->
	<table summary="credentials" cellpadding="5" cellspacing="0" border="0" class="collapsed_table">
	<tr>
		<td><label for="login"><b>login</b></label></td>
		<td>&nbsp;</td>
		<td[!V 'MARK:login'][!/V]>
			<!--V 'ERRORS:login'--><!--/V-->
			<!--V 'FORM:INPUT:login'-->id="login"<!--/V-->
		</td>
	</tr>
	<tr>
		<td><label for="password"><b>pass</b></label></td>
		<td>&nbsp;</td>
		<td[!V 'MARK:password'][!/V]>
			<!--V 'ERRORS:password'--><!--/V-->
			<!--V 'FORM:SECRET:password'-->id="password"<!--/V-->
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
		<td><p><input type="submit" value="Login" /></p></td>
	</tr>
	</table>
	</form>
	<script type="text/javascript">
	document.getElementById('login').focus();
	</script>
	<!--B 'ERRORS:login,password'--><div class="errors"><!--V 'ERRORS'/--></div><!--/B-->
	<!--B 'ERRORMESSAGE:login,password'--><!--V 'ERRORMESSAGE'/--><br /><!--/B-->
	<!--B 'MARK:ERROR'--> class="mark_error"<!--/B-->
	
	</center>

<!--/BV-->
<!--B 'MANDATORY:login'-->the login is required.<!--/B-->
<!--B 'WRONGLENGTH:login'-->the login is too short.<!--/B-->
<!--B 'MANDATORY:password'-->the password is required.<!--/B-->
<!--B 'WRONGLENGTH:password'-->the password is too short.<!--/B-->
<!--B 'INVALID:credentials'-->The login and the password that you provided are not valid.<!--/B-->
<!--B 'UNEXPECTED:sessioncreation'-->An unexpected error occurred which prevented the authentication session from being initiated.<!--/B-->

