<!--I 'common.blueprint_admin'/-->
<!--BV 'window_title'-->UWYN Drone Administration - Log out<!--/BV-->
<!--BV 'page_title'-->You have been successfully logged out.<!--/BV-->
<!--BV 'logout'--><!--/BV-->
<!--BV 'menu_area'--><!--/BV-->
<!--BV 'content'-->

	<br />
	
	<center>
				
	<!--I 'common.error_area'/-->
	
	<form action="[!V 'EXIT:FORM:back_to_entrance'/]" method="get">
	<!--V 'EXIT:PARAMS:back_to_entrance'/-->
	<input type="submit" value="Back to the entrance" />
	</form>
	
	</center>

<!--/BV-->
